.main {
  text-align: center;
  background: white;
 
}

.nombre {
  color: #677fe6;
  font-size: small;
}

.main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .main-logo {
    animation: home-logo-spin infinite 20s linear;
  }
}

/* Estilos para el TextField personalizado */
.myCustomTextField label {
  color: white;
  border-color: white;
  margin-left: 5px;
  border-radius: 100px;
  /* Color del texto del label */
}

#outlined-start-adornment {
  color: white;
  border-color: white;
}

#outlined-start-adornment-label {
  color: white;

}

.myCustomTextField p  {
  color: white;
}

.myCustomTextField .MuiOutlinedInput-notchedOutline {
  top: -7px;
  width: 90%;
  margin-left: 5px;
  border-color: white;
  border-width: 2px;
  border-radius: 20px;
  color: white;
}

.myCustomTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.myCustomTextField .MuiOutlinedInput-root:focus,
.myCustomTextField .MuiOutlinedInput-root:hover,
.myCustomTextField .MuiOutlinedInput-root:active {
  border-color: white;
}

.myCustomTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fd7062;
}

.middle-container {
  margin-top: 1%;
  width: 100%;
  height: 78vh; /* Cambiado para ocupar el 100% del alto de la ventana */
  display: flex;
  justify-content: flex-start; /* Alinea los elementos en la parte superior */
  flex-direction: column;
  align-items: center;
  
  background: whitesmoke;
}

.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
  background: #677fe6;
  border-color: #677fe6;
  color: #fff;
}

.segundocontenedor {
  width: 78%;
  max-width: auto; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  height: auto;
  display: flex;
  margin: 10px auto 0; /* Agrega un margen en la parte superior */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(90deg, #677fe6, #5c6de3, #5763de);
}

#demo-row-radio-buttons-group-label {
  color: #fff;
}

.radio-perderpeso {
  color: #ff5f5a;
 
}

.MuiFormControlLabel-label {
  color: white;
 font-size: 9px !important;
 width: auto;
}

.MuiFormControlLabel-root .MuiRadio-root {
  color: #ff5f5a;

 
}
.MuiFormControlLabel-root .MuiFormControlLabel-root {
  color: #ff5f5a;
width: 10px;
 
}


/* Cambia el color del círculo cuando la opción está seleccionada */
.MuiFormControlLabel-root .MuiRadio-root.Mui-checked {
  color: #ff5f5a;
  width: auto;

}
/* Cambiar el tamaño de la fuente de las opciones del OptionGroup */

.label-and-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.label {
  width: 50%;
  color: white;
}

#pesoinput,
#edadInput {
  border-color: #fff;
  border-width: 2px;
  color: white;
  height: 4px;
  width: 50px;
  border-radius: 20%;
  text-align: right;
}

#alturainput1 {
  border-color: #fff;
  border-width: 2px;
  color: white;
  height: 4px;
  width: 60px;
  border-radius: 20%;
  text-align: center;
}

.textfield .MuiOutlinedInput-notchedOutline {
  text-align: center;
  border-color: white;
  border-width: 2px;
}

.textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.textfield .MuiOutlinedInput-root:focus,
.textfield .MuiOutlinedInput-root:hover,
.textfield .MuiOutlinedInput-root:active {
  border-color: white;
}

.textfield .MuiOutlinedInput-notchedOutline {
  top: -7px;
  width: 30px;
  margin-left: 5px;
  border-color: white;
  border-width: 2px;
  border-radius: 20px;
}

.textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
  background: #677fe6;
  border-color: #677fe6;
  color: #fff;
}

.mbsc-ios.mbsc-calendar-button.mbsc-button {
  color: #677fe6;
}

.mbsc-ios.mbsc-button {
  color: #677fe6;
  border-radius: .25em;
  line-height: 2.25em;
  margin: .5em .25em;
  padding: 0 .5em;
  transition: opacity .1s ease-out, background-color .1s ease-out;
}

.mbsc-icon {
  color: #677fe6;
  -moz-box-flex: 0;
  display: inline-block;
  flex: 0 0 auto;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;
}

/* Cambia el color de fondo al seleccionar una fecha en el Datepicker */

/* Cambia el color del texto de la fecha seleccionada */
.mbsc-selected .mbsc-calendar-cell-text {
  color: #fff !important;
  background-color: #677fe6 !important;
  border-color: #677fe6 !important;
}

.mbsc-ios.mbsc-calendar-button.mbsc-button {
  color: #677fe6 !important;
}

.custom-view {
  display: flex;
  justify-content: center;
}

.MuiBottomNavigationAction-label {
  color: #677fe6 !important;
}

.mbsc-calendar-cell-text .mbsc-calendar-day-text .mbsc-ios .mbsc-calendar-today {
  color: #677fe6 !important;
}

.mbsc-segmented {
  margin: 0;
}

.mbsc-segmented.mbsc-material,
.mbsc-segmented.mbsc-windows {
  padding: 0 2px;
  color: #677fe6;
}

.mbsc-segmented .mbsc-segmented-button {
  color: #677fe6;
  padding: 0 1px;
}

.mbsc-segmented .mbsc-icon {
  font-size: 15px;
  color: #677fe6;
}

.mbsc-segmented-button.mbsc-windows {
  border: 0;
  color: #677fe6;
}

.react-calendar {
  width: 300px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
}

/* Cambia el color de fondo al seleccionar una fecha en el Datepicker */

.caja {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: white;
}

.boton1 {

  width: 100px;
  height: 30px;
  border: none;
  background: linear-gradient(90deg, #ff5f5a, #fd7062, #ff826f);
  color: white;
  cursor: pointer;
  border-radius: 25px;
}

.boton2 {
  margin-left: 5px;
  width: 100px;
  height: 30px;
  border: none;
  font-weight: bold;
  background-color: white;
  color: #ff5f5a;
  cursor: pointer;
  border-radius: 25px;
}

.main-header {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-link {
  color: #61dafb;
}

.icono {
  color: #677fe6;
}

.textfield1 .MuiOutlinedInput-notchedOutline {
  text-align: center;
  border-color: white;
  border-width: 2px;
}

.textfield1 .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.textfield1 .MuiOutlinedInput-root:focus,
.textfield1 .MuiOutlinedInput-root:hover,
.textfield1 .MuiOutlinedInput-root:active {
  border-color: white;
}

.textfield1 .MuiOutlinedInput-notchedOutline {
  top: -7px;
  width: 50px;
  margin-left: 5px;
  border-color: white;
  border-width: 2px;
  border-radius: 20px;
}

.textfield1 .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
